body, html {
  margin: 0;
  padding: 0;
  background-color: #fffbe6;
  overflow-x: hidden;
}

.scroll-section {
  height: 2000px;
  position: relative;
}

#car {
  width: 60px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center;
}
